#caption {
    color:                  white;
    
}
#everything {
    display:                flex;
    flex-direction:         column;
    /* justify-content:        center; */
    align-items:            center;
}