body {
    margin: 0;
    background: #f6f6f6;
}

.app-header {
    width: 100%;
    background: #fff;
}

.app-header-inner {
    width: 1000px;
    height: 52px;
    display: flex;
    background: #ffffff;
    align-items: center;
    margin: 0 auto;
}

.logo {
    padding-right: 20px;
}

.nav a {
    text-decoration: none;
    padding: 0 17px;
}

.nav a:link {
    color: grey;
}

.nav a:hover {
    color: black;
}

.search-bar {
    width: 326px;
    height: 34px;
    background: #f6f6f6;
    padding: 4px 10px 4px 16px;
    border: 1px solid;
    border-radius: 5px;
}

.search-bar input {
    width: 298px;
    height: 24px;
    border: none;
    background: #f6f6f6;
}

.sticky-holder {
    display: none;
}

.app-content {
    display: flex;
    align-items: flex-start;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
}

.story-container {
    width: 694px;
    height: 1000px;
    padding-bottom: 20px;
    background: #ff9800;
}

.app-main-column {
    margin-right: 10px;
}

.side-bar {
    flex: 1;
    height: 500px;
    background: #f44336;
}

.card {
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}

.story-item {
    padding: 16px 20px;
}
